*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Remove default padding */
ul,
ol,
body {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    // min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Make images easier to work with */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    max-width: 100%;
    display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
    margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}
